body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../images/java.png');
    
}
#SignIn{
    background-color: rgb(219, 136, 12);
    border: solid;
    border-color: black;
    border-radius: 40%;
}

#signIn{
    padding-left: 20px;
    padding: 50px;
    border: solid;

    
    
    
}
#name,#email, #submit{
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 20px;
}
#signup{
    background-color:rgb(22, 240, 189);
    margin:auto;
    width: 80%;
}



/* css page two */
#page2{
    background-color: rgb(3, 191, 248);
    margin: auto;
    width:80%;
    border:3px solid rgb(221, 12, 12);
    
}
#answerform{
    display: none;
}
#questions{
    margin-left: 30px;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 500px;
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}